<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={{url_for('static',filename='cloud.css')}}>
    <title>Udaan: Weather Predictor</title>
    <link href="https://lh3.googleusercontent.com/fife/AAWUweWtF7VtksQbfiDQUIaNH85i9U7PqZkXE8gqann90U194aa51xdNXdsJdh3eiPgMmnWTTH90KYzBi0WX8YCN8OIRSVDe0bnfL7BXUw-E8lIJxgl2ZLOAtTyNnds8u9DO3LZCCov42N2gHG1TLieHXo7tt0Os-KFbOgP4Uh6flWIhed2n4MPgzMkh0kfCIFf4tPhb9GMCApvwxSlwPqxzWMGZITFvYmG1VL1Ot9aCFnjiBKfmbqkXUYo21gaLF0y23bzpSqbW15xD9mFqPx9RJLAk9_wklRdIGPCaFvKLZGfims0au6cUtfccDJ6yyv0sPjfQbxFylXs4Qla4mqSg5LBtZRSmZzh5spFbDcVB_tMTO68LO8hei6LgNuEz2N5cqZPCUQDYdCghOJm9EFk7ax-TNAx0ceJQA6B2w9bJCERMBoTb7Kosk_XfSxVIzVyJj6bnD_YDD8fPvlrW8zrXEVzBg0jxxQSJdBB7onbUp38paD3kIQK4I8---GCBmu_41I1-cGKn93PLSi6BTO6x7quNvZkZVQKk0Gb-IVOP3e8jgVBbOP3pQii3S1OQh5vKFG6CX0oMFRqdmCTtpewp06x9XScEtHNUFtMGt9XDhLmsnDpXrLYtvSkyk9uIhm3BZd9xxlXoSGSM2c9Ty9Z--S6REoCZwavmCX7NYBdEHpCmYGrxT_YpaQlmApnSPBg2VokTsb8SxIaJC5VOTVTcIflrLY5zvjypE3Q=w1920-h913-ft" rel="shortcut icon">

</head>
<body>

<section id="prediction-form">
  <nav class="navbar navbar-light bg-dark text-white" >
                 <a class="navbar-brand" href="#" style="justify-content:center;display:flex">
                     <img src="https://lh3.googleusercontent.com/fife/AAWUweWtF7VtksQbfiDQUIaNH85i9U7PqZkXE8gqann90U194aa51xdNXdsJdh3eiPgMmnWTTH90KYzBi0WX8YCN8OIRSVDe0bnfL7BXUw-E8lIJxgl2ZLOAtTyNnds8u9DO3LZCCov42N2gHG1TLieHXo7tt0Os-KFbOgP4Uh6flWIhed2n4MPgzMkh0kfCIFf4tPhb9GMCApvwxSlwPqxzWMGZITFvYmG1VL1Ot9aCFnjiBKfmbqkXUYo21gaLF0y23bzpSqbW15xD9mFqPx9RJLAk9_wklRdIGPCaFvKLZGfims0au6cUtfccDJ6yyv0sPjfQbxFylXs4Qla4mqSg5LBtZRSmZzh5spFbDcVB_tMTO68LO8hei6LgNuEz2N5cqZPCUQDYdCghOJm9EFk7ax-TNAx0ceJQA6B2w9bJCERMBoTb7Kosk_XfSxVIzVyJj6bnD_YDD8fPvlrW8zrXEVzBg0jxxQSJdBB7onbUp38paD3kIQK4I8---GCBmu_41I1-cGKn93PLSi6BTO6x7quNvZkZVQKk0Gb-IVOP3e8jgVBbOP3pQii3S1OQh5vKFG6CX0oMFRqdmCTtpewp06x9XScEtHNUFtMGt9XDhLmsnDpXrLYtvSkyk9uIhm3BZd9xxlXoSGSM2c9Ty9Z--S6REoCZwavmCX7NYBdEHpCmYGrxT_YpaQlmApnSPBg2VokTsb8SxIaJC5VOTVTcIflrLY5zvjypE3Q=w1920-h913-ft" width="100" height="100" alt="" loading="lazy">
                 </a>
                </nav>


<div class="card">
    <h1 style="text-align: center; font-size: 3 rem; font-weight: bolder"> {{city}} : RAINY DAY  🌧 </h1>
    <h4><center> {{day}} is going to be <span style="font-style: italic; font-weight: bolder;">rainy day! <br> </span> So enjoy the rain with hot coffee and your comfy place!</center></h4>


        <div class="container" style="display:flex;justify-content:center">

          <div class="row" >
            <h3 class="text-center"  style="display:flex;justify-content:center">Today's weather</h3>
            <div class="col">
                <b>Sunrise </b>: {{sunrise}}
            </div>
              <br>
              <div class="col">
               <b>Sunset</b>: {{sunset}}
            </div>
              <br>
            <div class="col">
                <b>Pressure </b>: {{pressure}}hPa
            </div>
            <br>
            <div class="col">
                <b>Humidity </b>:  {{humidity}}%
            </div>
              <br>
            <div class="col">
                <b>Clouds</b>: {{clouds}}%
            </div>
            </div>
        </div>
    <div>

    </div>
    <div>
    </div>
   </div>
</body>
</html>